<!DOCTYPE html>
<html lang="en">
<head>
    <title>EMA</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class='top-div-contact'>
        <ul>
            <li>
                <i class="fa fa-phone" style="font-size:12px"></i>
                <span>0106-5630-331</span>
            </li>
            <li>
                <i class="material-icons" style="font-size:12px">place</i>
                <span>53 شارع فيكتور عمانويل امام مول زهران سموحة الاسكندرية</span>
            </li>
        </ul>


    </div>
    <div class='container-fluid parallax'>

    </div>
    </div>
    <div class='container'>
        <div class='main-headers'>
            <h1>
                للمقولات العامة في البنية التحتية و الانشئات و استخراج المواد الخام
            </h1>
            <div class='row small-icons'>
                <div class='col-xs-12 col-sm-12 col-md-4'>
                    <h3>
                        <img src='/static/photos/mining.svg'>
                        طرق الاستخراج
                    </h3>
                    <div class='short-line'>

                    </div>
                    <p>
                          تقوم شركة ايما بستخراج المواد الخام
                        أعمال الحفر والتراب بما في ذلك الطرق في جميع أنواع التربة باستخدام جميع المعدات المطلوبة مثل الحفارات والمطارق والجرافات واللوادر والقلاب.
                    </p>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-4' style='margin-left: 0px;'>
                    <h3>
                        <img src='/static/photos/customer-support.svg'>
                    عن خدمتنا
                    </h3>
                    <div class='short-line'>

                    </div>
                    <p>
                        تقدم شركة ايما الخدمات في مجال تنشيط التعدين ، أعمال الأرض ، برامج التعدين ، وهندسة المساحة.
                        أعمال الحفر والتراب بما في ذلك الطرق في جميع أنواع التربة باستخدام جميع المعدات المطلوبة مثل الحفارات والمطارق والجرافات واللوادر والقلاب.
                        أعمال المسح بما في ذلك المسح الطوبوغرافي ، المحدد ، المحاذاة ، خطط التعدين ، العد المادي ، ... إلخ.
                                        </div>
                <div class='col-xs-12 col-sm-12 col-md-4'>
                    <h3>
                        <img src='/static/photos/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-128.png'>
                         المواد الخام
                    </h3>
                    <div class='short-line'>

                    </div>
                    <p>
                        استخراج المواد الخام من الجبال مثل الجبس و الطفلة و الدبش و دولوميت و رمل و سن                    </p>
                </div>
            </div>

            <!--Finished The small Icons part-->
        </div>
    </div>
    <div class='container-fluid about-us'>
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-6'>
                    <h2>
                        تعرف علي شركتنا
                    </h2>
                    <div class='short-line-long'></div>
                    <h3>
                        تستخدم شركة إيما جميع التقنيات الحديثة المطلوبة لتحقيق أهداف العميل ، بناءً على سلامة وجودة المنتج.
                        لدى ايما سياسة الصحة والسلامة والبيئة الخاصة بها بالكامل ليتم تطبيقها في جميع مواقع العمل.
                    </h3>
                    <h4 class='company-birth'>
                        نعمل في البنية التحتية من عام 
                        2009
                    </h2>
                    <div class='company-birth-div-btn' style='float: left;margin-top: 20px;margin-bottom: 50px;'>
                        <a href='#' class='btn btn-danger'>
                            تفقد اعمالنا
                        </a>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-6'>
                    <img src='/static/photos/Mining-1024x1024.jpg'>
                </div>
    
            </div>
        </div>    
    </div>
    <div class='container-fluid vision bg-dark text-white'>
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-6'>
                    <img src='/static/photos/vision.png'>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-6 vision-text'>
                    <h2>
                        رؤيتنا
                    </h2>
                    <div class="short-line-medium"></div>
                    <p>
                        تتمثل رؤيتنا في أن نكون شركة موارد طبيعية عالمية المستوى تحظى باحترام كبير وتلتزم بالالتزام بالمعايير الدولية في عمليات التعدين والحفاظ على البيئة وتقديم قيمة ممتازة للمجتمعات الشريكة والمستثمرين والموظفين وأصحاب المصلحة الآخرين.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class='container-fluid cards'>
        <div class='container-fluid'>
            <div class='raw-materials'>
                <h2>
                    المواد الخام التي نستخرجها
                    
                </h2>
                <div class='short-line-long'></div>
            </div>
            
            <div class='row'>
                <div class='col-sm-12 col-md-4'>
                    <div>
                        <img src='/static/photos/5d906aa825d50-dolomite-marble.jpg'>
                    </div>
                    <button class="btn btn-dark">
                        <strong>دولوميت</strong>
                    </button>
                    
                    </div>
                
                <div class='col-sm-12 col-md-4'>
                    <div>
                        <img src='/static/photos/رمل.jpeg'> 
                    </div>  
                    <button class='btn btn-md btn-dark'>
                        <strong>رمل</strong>
                    </button> 
                        
                </div>
                 <div class='col-sm-12 col-md-4' style='margin-bottom: 100px;'>
                    <div>
                        <img src='/static/photos/جبس.jpg'> 
                    </div>   
                    <button class='btn btn-dark'>
                        <strong>جبس</strong>
                    </button>
                            
                </div>

                <div class='col-sm-12 col-md-4'>
                    <div>
                        <img src='/static/photos/clay.jfif'> 
                    </div>   
                    <button class='btn btn-dark'>
                        <strong>طفل</strong>  
                    </button>
                          
                </div>
                <div class='col-sm-12 col-md-4'>
                    <div>
                        <img src='/static/photos/rubble.jfif'> 
                    </div>   
                    <button class='btn btn-dark'>
                        <strong>حصى</strong>
                    </button>
                            
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class='container-fluid footer'>
        <div class='container'>
            <h2>تواصل معنا</h2>
            <div class='short-line-long'></div>
            <div class='row'>
                <div class='col-sm-12 col-md-6'>
                    <div class='form-div'>
                        <form>
                            <div class='form-group'>
                                <label for='user_name'>
                                    :
                                    الاسم       
                                 </label>
                                 <input type='text'class='form-control' name='user_name' id='user_name' required placeholder="اسم الزائر">
                            </div>
                            <div class='form-group'>
                                <label for='user_mail'>
                                    :
                                    البريد
                                </label>
                                <input type='email' class='form-control' id='user_mail' name='user_mail' required placeholder="البريد الاكتروني">
                            </div>
                            <div class='form-group'>
                                <label for='user_mail_subject'>
                                    :
                                    الموضوع
                                </label>
                                <input type='text' class='form-control' id='user_mail_subject' required placeholder="موضوع البريد">
                            </div>
                            <div class='form-group'> 
                                <label for='user_mail_body'>
                                    :
                                    الرسالة
                                </label>
                                <textarea name='user_email_message' rows='10' cols='50' class='form-control' id='user_mail_body' required>

                                </textarea>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style='margin-bottom: 200px;'>

    </div>

</body>
</html>