<!DOCTYPE html>
<html lang="en">
<head>
    <title>EMA</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class='top-div-contact'>
        <ul>
            <li>
                <i class="fa fa-phone" style="font-size:12px"></i>
                <span>0106-5630-331</span>
            </li>
            <li>
                <i class="material-icons" style="font-size:12px">place</i>
                <span>53 شارع فيكتور عمانويل امام مول زهران سموحة الاسكندرية</span>
            </li>
        </ul>


    </div>
    <div class='container-fluid parallax'>

    </div>
    </div>
    <div class='container'>
        <div class='main-headers'>
            <h1>
                للمقولات العامة في البنية التحتية و الانشئات و استخراج المواد الخام
            </h1>
            <div class='row small-icons'>
                <div class='col-xs-12 col-sm-12 col-md-4'>
                    <h3>
                        <img src='/static/photos/mining.svg'>
                        طرق الاستخراج
                    </h3>
                    <div class='short-line'>

                    </div>
                    <p>
                          تقوم شركة ايما بستخراج المواد الخام
                        أعمال الحفر والتراب بما في ذلك الطرق في جميع أنواع التربة باستخدام جميع المعدات المطلوبة مثل الحفارات والمطارق والجرافات واللوادر والقلاب.
                    </p>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-4' style='margin-left: 0px;'>
                    <h3>
                        <img src='/static/photos/customer-support.svg'>
                    عن خدمتنا
                    </h3>
                    <div class='short-line'>

                    </div>
                    <p>
                        تقدم شركة ايما الخدمات في مجال تنشيط التعدين ، أعمال الأرض ، برامج التعدين ، وهندسة المساحة.
                        أعمال الحفر والتراب بما في ذلك الطرق في جميع أنواع التربة باستخدام جميع المعدات المطلوبة مثل الحفارات والمطارق والجرافات واللوادر والقلاب.
                        أعمال المسح بما في ذلك المسح الطوبوغرافي ، المحدد ، المحاذاة ، خطط التعدين ، العد المادي ، ... إلخ.
                                        </div>
                <div class='col-xs-12 col-sm-12 col-md-4'>
                    <h3>
                        <img src='/static/photos/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-128.png'>
                         المواد الخام
                    </h3>
                    <div class='short-line'>

                    </div>
                    <p>
                        استخراج المواد الخام من الجبال مثل الجبس و الطفلة و الدبش و دولوميت و رمل و سن                    </p>
                </div>
            </div>

            <!--Finished The small Icons part-->
        </div>
    </div>
    <div class='container-fluid about-us'>
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-6'>
                    <h2>
                        تعرف علي شركتنا
                    </h2>
                    <div class='short-line-long'></div>
                    <h3>
                        تستخدم شركة إيما جميع التقنيات الحديثة المطلوبة لتحقيق أهداف العميل ، بناءً على سلامة وجودة المنتج.
                        لدى ايما سياسة الصحة والسلامة والبيئة الخاصة بها بالكامل ليتم تطبيقها في جميع مواقع العمل.
                    </h3>
                    <h4 class='company-birth'>
                        نعمل في البنية التحتية من عام 
                        2009
                    </h2>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-6'>
                    <img src='/static/photos/background-test.jpg'>
                </div>
    
            </div>
        </div>

        
    </div>
    <div style='margin-bottom: 500px;'>

    </div>

</body>
</html>